.contato {
   .section-title {
      padding:80px 0 60px 0;
   }
   .col-5 {
      h1, h2 {
         display:inline-block;
         font-size:3.5rem;
      }
      h1 {
         font-weight:bold;
      }
      h2 {
         font-size:3rem;
         margin-left:5px;
      }
   }
}  

//Mapa da pagina de contato
.contact-map {
   border:0;
   width:100%;
   height:400px;
}
.scrolloff {
   pointer-events: none;
}