.white-footer {
   padding:100px 0 60px 0;   
   a,p,span {
      font-family:$font-link;
      color:#222;
   }
   .logo {
      img {
         max-width:150px;
         height:auto;
      }
   }
   b {
      color:$blue;
      font-family:$font-link;
   }
   a {      
      &:hover {
         color:$gray !important;
      }
   }
   .social {
      a {
         display:inline-block;
         margin:0px 5px;
      }
   }
}


.blue-footer {
   background:$blue;
   color:$gray;
   padding:60px 0;
   .logo {    
      margin:40px 0 60px 0;
      border-bottom:solid 1px #333;
      img {
         margin:10px auto;
      }     
   }   
   .links {
      b {
         display:block;
         text-transform:uppercase;
         margin-bottom:20px;
      }
   }   
   .social {
      text-align:right;
      a i {
         margin:30px 5px;
      }
   }
   b {
      color:white;
   }
   .copyright {
      padding-top:40px;
      a {
         color:white !important;
         font-style:italic;
         font-weight:bold;
      }
   }   
}