


//Encontre seu imóvel
.find-mobile {
   position:absolute;
   top:35px;
   right:129px;
   z-index:9999;
} 

//Home Header
.header {
   width:100vw;
   height:100vh;
   position:relative; 
}

//Header das paginas
.headerpage {
   position:relative;
   display:block;
   width:100vw;
   height:90px;
}

.header, .headerpage {
   z-index:9989;
   //Redes sociais do header
   &__social {
      position:absolute;      
      left:40px;
      bottom:30px;
      ul {
         display:flex;
         li {
            margin:0 10px;
            a i {
               color:white;
               font-size:$font-medium;
               &:hover {
                  color:$orange;
               }
            }
         }
      }
   }
   //Idioma fora do header / em cima do slide
   .language {
      width:100px;
      right:60px;
      bottom:30px;
      ul li {
         text-align:right;
      }
   }
}

 //Idioma do site, pt,usa,spa
 .language {
   position:absolute;   
   ul {
      display:flex;
      li {
         width:33%;         
         a {
            color:white;
            font-size:$font-small;
            @include transition;
            &:hover {
               color:$orange !important;
            }
         }
      }
   }
}

