@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:400&display=swap');

$blue: #161971;
$lightblue: #2e3192;
$orange: #c07c31;
.orange { color:$orange; }
$light: #F4F5F7;
$gray: #70718a;
$gray2: #e6e6e6;
$black: #111111;

$font-text: 'Montserrat', sans-serif;
$font-title: 'Teko';
$font-link: 'Poppins', sans-serif;

$font-small: .9rem;
$font-medium: 1.4rem;
$font-big: 4rem;

@mixin transition {
   transition:.5s;
}

* {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
   width:100%;
   height:100%;
   margin:0;
   padding:0;   
   font-size:85%;
   scroll-behavior: smooth;
   font-family: $font-text;
   overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6 {
   font-family: $font-title;
   font-weight:700;
}

figure img {
   display:block;
}

ul {
   list-style:none;
   padding:0;
   margin:0;
}

@mixin transition {
   transition:.5s;
}

body a {
   color:$gray;
   text-decoration:none !important; 
   @include transition;
   &:hover {
      color:$gray2 !important;
   }
} 

main {
   width:100vw;
   height:auto;
   display:block;
   position:relative;
}

p.line {
   content:'';
   width:80px;
   height:3px;
   display:block;
   margin-top:0;
} 

img {
   max-width:100% !important;
}

video { 
   position: fixed;
   top: 50%;
   left: 50%;
   min-width: 100%;
   min-height: 100%;
   width: 100%;
   height: 100vh;
   z-index: -100;
   transform: translateX(-50%) translateY(-50%);
   // background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
   background-size: cover;
   transition: 1s opacity;
}
#bgvid {
   width:100%;
   height:100vh;
}

.text-page {
   span {
      display:block;
      color:black;
      margin-bottom:20px;
      font-size:1.6rem;
   }
   p {
      font-size:$font-medium;
      margin-bottom:20px;
      line-height:35px;
   }
}

.starter-page {
   .title-page {
      padding:60px 0 100px 0;
      h1 {
         font-size:2.3rem;
         color:black;
         font-family:$font-text;
      }    
      p.line {
         margin-top:40px;
      }       
   }
   .subtitle-page {
      color:$gray;
      text-align:left;
      text-transform:uppercase;
      font-weight:500;
   }
   .image-page {
      max-width:100%;
      margin-bottom:100px;
   }   
}


.container {
   max-width:75% !important;
}

.section-title {
   padding:40px 0;
   b {
      text-transform:uppercase;
   }
   a {
      font-weight:bold;
   }
}

