//Carrossel da home
#carousel-header {
   width:100vw;
   height:100vh;
   max-height:100vh !important;
   margin:0;
   padding:0;
   .carousel-control-prev, .carousel-control-next {
      width:50px !important;
      height:50px !important;
      margin:40px;
      top:40%;
      background:rgba(255,255,255,.02);
   }
   .carousel-control-next {
      margin:40px 60px 40px 40px;
   }
   .carousel-indicators li {
      text-indent:0 !important;
      background-color:transparent;
      font-size:3rem;
      margin-right:15px;
      font-family:$font-title;
   }
   .carousel-inner {
      max-height:100vh;
      .carousel-caption {
         top:15%;
         left:20% !important;
         right:35% !important;
         text-align:left;
         color:white;
         span {
            display:block;
            font-size:$font-medium;
         }
         h1 {
            max-width:500px;
            font-size:6rem;
            margin:40px 0 10px 0;
         }
         a {
            display:block;
            color:$orange;            
            margin-top:80px;
            font-family:$font-title;
            font-weight:bold;
            font-size:1.6rem;
            text-decoration:underline !important;
         }
         p {
            font-size:1.2rem;
         }
      }
   }
}


