//WORKS LAZY LOAD
.image {
	background: rgba(0,0,0,0.15);
   min-height:500px;
   position: relative;
   z-index:3;	
	&::before {
		animation-name: rotate;
		animation-duration: 0.6s;
		animation-iteration-count: infinite;
      background: rgba(#333,0.25);
      width:100%;
      height:100%;
		content: '';
		display: block;
		height: 40px;
		left: calc(50% - 20px);
		position: absolute;
		top: calc(50% - 20px);
		width: 40px;
		z-index: 1;
	}
	img {
      width:100%;
      height:100%;
      opacity: 0;
      transition: opacity 0.25s;
      z-index:3;
      position:absolute;
		&.fade-in {
			padding-bottom: 0;
			opacity: 1;
		}
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	70%,
	100% {
		transform: rotate(90deg);
	}
}