.home-navbar {
   width:100%;
   position:absolute;
   top:0;
   z-index:9998;
   .logo {
      padding-top:8px;
      img {
         max-width:150px;
      }
   }
   .social {
      padding-top:35px;
      a {
         font-size:$font-medium;
         margin:0 15px;
      }
   }
   .hamburguer {
      padding-right:30px;
      .bar1, .bar2 {
         background:white;
      }
      b {
         color:white;
      }
   }
   p {
      font-family:$font-link;
      font-size:.9rem;
   }
}

.white-navbar {
   width:100%;
   height:100px;
   background:white;
   .logo {
      padding-top:8px;
   }
   .social {
      padding-top:35px;
      a {
         font-size:$font-medium;
         margin:0 15px;
      }
   }
   .fale-conosco {
      p {
         padding-top:40px;
         color:#888;
         a {
            color:#000 !important;
            font-weight:bold;
            text-decoration:none;
         }
      }
   }
   .hamburguer {
      .bar1, .bar2 {
         background:black;
      }
      b {
         color:$gray;
      }
   }
   p {
      font-family:$font-link;
      font-size:.9rem;
   }
}

.blue-navbar {
   width:100%;
   height:100px;
   background:$blue;
   .logo {
      padding-top:8px;
   }
   .hamburguer {      
      .bar1, .bar2 {
         background:white;
      }
      b {
         color:white;
      }
   }
   p {
      font-family:$font-link;
      font-size:.9rem;
   }
}


//Hamburguer menu
.hamburguer {
   text-align:right;
   padding-top:30px;    
   z-index:9999;  
   &:hover {
      cursor:pointer;
      .bar1, .bar2 {
         background:$orange;
      }
   }
   b {
      font-size:.8rem;
   }
   //hamburguer bars
   .bar1, .bar2 {
      width: 32.5px;
      height: 2px;
      margin: 5px 0;
      transition-duration: 0.4s;
      margin-left:auto;  
   }  
   //Transição das barras
   &.toggle {
      .bar1, .bar2 {
         background:$orange;
      }
      .bar1 {
         transform: translate(5px, 0);
         -webkit-transform: translate(5px, 0);  
      }
      .bar2 {
         transform: translate(15px, 0);
         -webkit-transform: translate(15px, 0);
      }
   }
} 