//Menu principal lateral
#main-menu {
   position:fixed;
   right:0;
   top:0;
   width:30vw;
   height:100vh;
   background:$blue;
   z-index:9990;
   padding:40px;
   display:none;
   transition:.5s;
   .header-menu {
      width:100%;
      display:flex;
      flex-wrap:wrap;
      //Idioma do site dentro do menu
      .language {
         position:relative;
         width:30%;  
         top:-5px;    
      }
      //Encontre seu imóvel
      .find-mobile {
         width:50%;
         padding:0 20px;
         right:65px;
      }     
   }
   //Menu com links
   nav {     
      ul {    
         display:block;
         width:100%;
         box-sizing:border-box;
         padding-top:20px; 
         text-align:left;
         li {      
            a {
               display:block;
               width:100%;        
               padding:6px 0;
               transition-duration:.6s;
               font-size:$font-medium; 
               font-weight:bold;
               color:$lightblue; 
               text-decoration:none;                  
               &:hover {
                  cursor:pointer;      
                  color:$orange !important;
               }               
            }     
            &:first-child {
               a {
                  color:white;
               }
            } 
         }
      }
   }
   //Redes sociais do menu
   .footer-menu {
      width:100%;
      position:absolute;
      bottom:20px;
      ul.social {
         width:50%;
         display:flex;
         flex-wrap:wrap;
         li {
            a {
               margin:0 5px;
               &:hover {
                  color:$orange !important;
               }
            }
         }
      }
   }
}