#portfolio, #portfolio-page {
   padding:20px 0;
   article {      
      img {
         width:100%;
         max-height:322px;
      }
      h1 {
         font-size:1.6rem;
         @include transition;
      }
      &:hover {
         h1 {
            color:$orange;
         }
      }
   }
}

#portfolio-page {
   padding-top:100px;
   .carousel {
      margin-bottom:30px;
      .carousel-caption {
         top:22%;
         p {
            font-size:1.3rem;
         }
      }
   }
}