#projects {
   padding:20px 0;
   ul {
      li {
         display:inline-block;
         padding:0 10px;
      }
   }
   figure {
      overflow:hidden;
      max-height:392px;
      margin-bottom:40px;
      img {
         width:100%;
         height:auto;
         max-height:395px;
         @include transition;
         &:hover {
            opacity:.8;
            cursor:pointer;
            transform:scale(1.1)
         }
      }
   }
}