//----------------------- Pages
.blue-page {
   background-color:$blue !important;
   color:white !important;
}
.white-page {
   background-color:white !important;
   color:#666666 !important;
}

//-------------------- Backgrounds
.bg-blue {
   background:$blue;
}
.bg-white {
   background:white;
}
.bg-orange {
   background:$orange;
}

.d-block {
   display:block !important;
}

// ------------------ Margins

//Margin
.margin10 {margin:10px !important;}
.margin20 {margin:20px !important;}
.margin30 {margin:30px !important;}
.margin40 {margin:40px !important;}
.margin50 {margin:50px !important;}
.margin60 {margin:60px !important;}
.margin70 {margin:70px !important;}
.margin80 {margin:80px !important;}
.margin90 {margin:90px !important;}
.margin100 {margin:100px !important;}

//Margin-top
.mt-10 {margin-top:10px !important;}
.mt-20 {margin-top:20px !important;}
.mt-30 {margin-top:30px !important;}
.mt-40 {margin-top:40px !important;}
.mt-50 {margin-top:50px !important;}
.mt-60 {margin-top:60px !important;}
.mt-70 {margin-top:70px !important;}
.mt-80 {margin-top:80px !important;}
.mt-90 {margin-top:90px !important;}
.mt-100 {margin-top:100px !important;}

//Margin bottom
.mb-10 {margin-bottom:10px !important;}
.mb-20 {margin-bottom:20px !important;}
.mb-30 {margin-bottom:30px !important;}
.mb-40 {margin-bottom:40px !important;}
.mb-50 {margin-bottom:50px !important;}
.mb-60 {margin-bottom:60px !important;}
.mb-70 {margin-bottom:70px !important;}
.mb-80 {margin-bottom:80px !important;}
.mb-90 {margin-bottom:90px !important;}
.mb-100 {margin-bottom:100px !important;}

// ------------------ PADDING

//Padding
.padding-10 {padding:10px !important;}
.padding-20 {padding:20px !important;}
.padding-30 {padding:30px !important;}
.padding-40 {padding:40px !important;}
.padding-50 {padding:50px !important;}
.padding-60 {padding:60px !important;}
.padding-70 {padding:70px !important;}
.padding-80 {padding:80px !important;}
.padding-90 {padding:90px !important;}
.padding-100 {padding:100px !important;}