@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:400&display=swap");
@font-face {
  font-family: Teko;
  src: url("../fonts/teko/Teko-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.orange {
  color: #c07c31;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 85%;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Teko";
  font-weight: 700;
}

figure img {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body a {
  color: #70718a;
  text-decoration: none !important;
  -webkit-transition: .5s;
  transition: .5s;
}

body a:hover {
  color: #e6e6e6 !important;
}

main {
  width: 100vw;
  height: auto;
  display: block;
  position: relative;
}

p.line {
  content: '';
  width: 80px;
  height: 3px;
  display: block;
  margin-top: 0;
}

img {
  max-width: 100% !important;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100vh;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

#bgvid {
  width: 100%;
  height: 100vh;
}

.text-page span {
  display: block;
  color: black;
  margin-bottom: 20px;
  font-size: 1.6rem;
}

.text-page p {
  font-size: 1.4rem;
  margin-bottom: 20px;
  line-height: 35px;
}

.starter-page .title-page {
  padding: 60px 0 100px 0;
}

.starter-page .title-page h1 {
  font-size: 2.3rem;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.starter-page .title-page p.line {
  margin-top: 40px;
}

.starter-page .subtitle-page {
  color: #70718a;
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
}

.starter-page .image-page {
  max-width: 100%;
  margin-bottom: 100px;
}

.container {
  max-width: 75% !important;
}

.section-title {
  padding: 40px 0;
}

.section-title b {
  text-transform: uppercase;
}

.section-title a {
  font-weight: bold;
}

.blue-page {
  background-color: #161971 !important;
  color: white !important;
}

.white-page {
  background-color: white !important;
  color: #666666 !important;
}

.bg-blue {
  background: #161971;
}

.bg-white {
  background: white;
}

.bg-orange {
  background: #c07c31;
}

.d-block {
  display: block !important;
}

.margin10 {
  margin: 10px !important;
}

.margin20 {
  margin: 20px !important;
}

.margin30 {
  margin: 30px !important;
}

.margin40 {
  margin: 40px !important;
}

.margin50 {
  margin: 50px !important;
}

.margin60 {
  margin: 60px !important;
}

.margin70 {
  margin: 70px !important;
}

.margin80 {
  margin: 80px !important;
}

.margin90 {
  margin: 90px !important;
}

.margin100 {
  margin: 100px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-60 {
  padding: 60px !important;
}

.padding-70 {
  padding: 70px !important;
}

.padding-80 {
  padding: 80px !important;
}

.padding-90 {
  padding: 90px !important;
}

.padding-100 {
  padding: 100px !important;
}

.find-mobile {
  position: absolute;
  top: 35px;
  right: 129px;
  z-index: 9999;
}

.header {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.headerpage {
  position: relative;
  display: block;
  width: 100vw;
  height: 90px;
}

.header, .headerpage {
  z-index: 9989;
}

.header__social, .headerpage__social {
  position: absolute;
  left: 40px;
  bottom: 30px;
}

.header__social ul, .headerpage__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__social ul li, .headerpage__social ul li {
  margin: 0 10px;
}

.header__social ul li a i, .headerpage__social ul li a i {
  color: white;
  font-size: 1.4rem;
}

.header__social ul li a i:hover, .headerpage__social ul li a i:hover {
  color: #c07c31;
}

.header .language, .headerpage .language {
  width: 100px;
  right: 60px;
  bottom: 30px;
}

.header .language ul li, .headerpage .language ul li {
  text-align: right;
}

.language {
  position: absolute;
}

.language ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.language ul li {
  width: 33%;
}

.language ul li a {
  color: white;
  font-size: 0.9rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.language ul li a:hover {
  color: #c07c31 !important;
}

.home-navbar {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 9998;
}

.home-navbar .logo {
  padding-top: 8px;
}

.home-navbar .logo img {
  max-width: 150px;
}

.home-navbar .social {
  padding-top: 35px;
}

.home-navbar .social a {
  font-size: 1.4rem;
  margin: 0 15px;
}

.home-navbar .hamburguer {
  padding-right: 30px;
}

.home-navbar .hamburguer .bar1, .home-navbar .hamburguer .bar2 {
  background: white;
}

.home-navbar .hamburguer b {
  color: white;
}

.home-navbar p {
  font-family: "Poppins", sans-serif;
  font-size: .9rem;
}

.white-navbar {
  width: 100%;
  height: 100px;
  background: white;
}

.white-navbar .logo {
  padding-top: 8px;
}

.white-navbar .social {
  padding-top: 35px;
}

.white-navbar .social a {
  font-size: 1.4rem;
  margin: 0 15px;
}

.white-navbar .fale-conosco p {
  padding-top: 40px;
  color: #888;
}

.white-navbar .fale-conosco p a {
  color: #000 !important;
  font-weight: bold;
  text-decoration: none;
}

.white-navbar .hamburguer .bar1, .white-navbar .hamburguer .bar2 {
  background: black;
}

.white-navbar .hamburguer b {
  color: #70718a;
}

.white-navbar p {
  font-family: "Poppins", sans-serif;
  font-size: .9rem;
}

.blue-navbar {
  width: 100%;
  height: 100px;
  background: #161971;
}

.blue-navbar .logo {
  padding-top: 8px;
}

.blue-navbar .hamburguer .bar1, .blue-navbar .hamburguer .bar2 {
  background: white;
}

.blue-navbar .hamburguer b {
  color: white;
}

.blue-navbar p {
  font-family: "Poppins", sans-serif;
  font-size: .9rem;
}

.hamburguer {
  text-align: right;
  padding-top: 30px;
  z-index: 9999;
}

.hamburguer:hover {
  cursor: pointer;
}

.hamburguer:hover .bar1, .hamburguer:hover .bar2 {
  background: #c07c31;
}

.hamburguer b {
  font-size: .8rem;
}

.hamburguer .bar1, .hamburguer .bar2 {
  width: 32.5px;
  height: 2px;
  margin: 5px 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  margin-left: auto;
}

.hamburguer.toggle .bar1, .hamburguer.toggle .bar2 {
  background: #c07c31;
}

.hamburguer.toggle .bar1 {
  transform: translate(5px, 0);
  -webkit-transform: translate(5px, 0);
}

.hamburguer.toggle .bar2 {
  transform: translate(15px, 0);
  -webkit-transform: translate(15px, 0);
}

#main-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 30vw;
  height: 100vh;
  background: #161971;
  z-index: 9990;
  padding: 40px;
  display: none;
  -webkit-transition: .5s;
  transition: .5s;
}

#main-menu .header-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main-menu .header-menu .language {
  position: relative;
  width: 30%;
  top: -5px;
}

#main-menu .header-menu .find-mobile {
  width: 50%;
  padding: 0 20px;
  right: 65px;
}

#main-menu nav ul {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  text-align: left;
}

#main-menu nav ul li a {
  display: block;
  width: 100%;
  padding: 6px 0;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  font-size: 1.4rem;
  font-weight: bold;
  color: #2e3192;
  text-decoration: none;
}

#main-menu nav ul li a:hover {
  cursor: pointer;
  color: #c07c31 !important;
}

#main-menu nav ul li:first-child a {
  color: white;
}

#main-menu .footer-menu {
  width: 100%;
  position: absolute;
  bottom: 20px;
}

#main-menu .footer-menu ul.social {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main-menu .footer-menu ul.social li a {
  margin: 0 5px;
}

#main-menu .footer-menu ul.social li a:hover {
  color: #c07c31 !important;
}

#carousel-header {
  width: 100vw;
  height: 100vh;
  max-height: 100vh !important;
  margin: 0;
  padding: 0;
}

#carousel-header .carousel-control-prev, #carousel-header .carousel-control-next {
  width: 50px !important;
  height: 50px !important;
  margin: 40px;
  top: 40%;
  background: rgba(255, 255, 255, 0.02);
}

#carousel-header .carousel-control-next {
  margin: 40px 60px 40px 40px;
}

#carousel-header .carousel-indicators li {
  text-indent: 0 !important;
  background-color: transparent;
  font-size: 3rem;
  margin-right: 15px;
  font-family: "Teko";
}

#carousel-header .carousel-inner {
  max-height: 100vh;
}

#carousel-header .carousel-inner .carousel-caption {
  top: 15%;
  left: 20% !important;
  right: 35% !important;
  text-align: left;
  color: white;
}

#carousel-header .carousel-inner .carousel-caption span {
  display: block;
  font-size: 1.4rem;
}

#carousel-header .carousel-inner .carousel-caption h1 {
  max-width: 500px;
  font-size: 6rem;
  margin: 40px 0 10px 0;
}

#carousel-header .carousel-inner .carousel-caption a {
  display: block;
  color: #c07c31;
  margin-top: 80px;
  font-family: "Teko";
  font-weight: bold;
  font-size: 1.6rem;
  text-decoration: underline !important;
}

#carousel-header .carousel-inner .carousel-caption p {
  font-size: 1.2rem;
}

#projects {
  padding: 20px 0;
}

#projects ul li {
  display: inline-block;
  padding: 0 10px;
}

#projects figure {
  overflow: hidden;
  max-height: 392px;
  margin-bottom: 40px;
}

#projects figure img {
  width: 100%;
  height: auto;
  max-height: 395px;
  -webkit-transition: .5s;
  transition: .5s;
}

#projects figure img:hover {
  opacity: .8;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#portfolio, #portfolio-page {
  padding: 20px 0;
}

#portfolio article img, #portfolio-page article img {
  width: 100%;
  max-height: 322px;
}

#portfolio article h1, #portfolio-page article h1 {
  font-size: 1.6rem;
  -webkit-transition: .5s;
  transition: .5s;
}

#portfolio article:hover h1, #portfolio-page article:hover h1 {
  color: #c07c31;
}

#portfolio-page {
  padding-top: 100px;
}

#portfolio-page .carousel {
  margin-bottom: 30px;
}

#portfolio-page .carousel .carousel-caption {
  top: 22%;
}

#portfolio-page .carousel .carousel-caption p {
  font-size: 1.3rem;
}

.contato .section-title {
  padding: 80px 0 60px 0;
}

.contato .col-5 h1, .contato .col-5 h2 {
  display: inline-block;
  font-size: 3.5rem;
}

.contato .col-5 h1 {
  font-weight: bold;
}

.contato .col-5 h2 {
  font-size: 3rem;
  margin-left: 5px;
}

.contact-map {
  border: 0;
  width: 100%;
  height: 400px;
}

.scrolloff {
  pointer-events: none;
}

#vendas figure {
  overflow: hidden;
  max-height: 392px;
  margin-bottom: 40px;
}

#vendas figure img {
  width: 100%;
  height: auto;
  max-height: 395px;
  -webkit-transition: .5s;
  transition: .5s;
}

#vendas figure img:hover {
  opacity: .8;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.white-footer {
  padding: 100px 0 60px 0;
}

.white-footer a, .white-footer p, .white-footer span {
  font-family: "Poppins", sans-serif;
  color: #222;
}

.white-footer .logo img {
  max-width: 150px;
  height: auto;
}

.white-footer b {
  color: #161971;
  font-family: "Poppins", sans-serif;
}

.white-footer a:hover {
  color: #70718a !important;
}

.white-footer .social a {
  display: inline-block;
  margin: 0px 5px;
}

.blue-footer {
  background: #161971;
  color: #70718a;
  padding: 60px 0;
}

.blue-footer .logo {
  margin: 40px 0 60px 0;
  border-bottom: solid 1px #333;
}

.blue-footer .logo img {
  margin: 10px auto;
}

.blue-footer .links b {
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.blue-footer .social {
  text-align: right;
}

.blue-footer .social a i {
  margin: 30px 5px;
}

.blue-footer b {
  color: white;
}

.blue-footer .copyright {
  padding-top: 40px;
}

.blue-footer .copyright a {
  color: white !important;
  font-style: italic;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */